<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843191161586-34g0tkh953qhd7vt0pd8ksdusoid0u15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843191161586-34g0tkh953qhd7vt0pd8ksdusoid0u15</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>843191161586-936nj2chtk075abt81dr01c5g0b5o6et.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDa9fBszwTIKognywNyMmHoisLC7JVj2jI</string>
	<key>GCM_SENDER_ID</key>
	<string>843191161586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bogdanpralea.Bailarte</string>
	<key>PROJECT_ID</key>
	<string>bailarteapp-272817</string>
	<key>STORAGE_BUCKET</key>
	<string>bailarteapp-272817.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843191161586:ios:95dc5f51bd147bdeed366b</string>
	<key>DATABASE_URL</key>
	<string>https://bailarteapp-272817.firebaseio.com</string>
</dict>
</plist>